{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Effect": "Allow",
      "Action": [
        "s3:Get*",
        "s3:List*",
        "s3:HeadBucket"
      ],
      "Resource": ${jsonencode([
        for bucket in buckets_list : bucket
      ])}
    }
  ]
}
