{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Effect": "Allow",
      "Action": ${jsonencode([
        for action in actions_list : action
      ])},
      "Resource": ${jsonencode([
        for bucket in buckets_list : bucket
      ])}
    }
  ]
}
