{
    "Parameters": {
        "ResourceId": {
            "Type": "String"
        },
        "MaxAggregationInterval": {
            "Type": "Number"
        }
    },
    "Resources": {
        "VPCFlowLogsToBucket": {
            "Type": "AWS::EC2::FlowLog",
            "Properties": {
                "ResourceId": {
                    "Ref": "ResourceId"
                },
                "ResourceType": "VPC",
{% if s3_flowlogs_bucket %}
                "LogDestination": "arn:aws:s3:::{{ s3_flowlogs_bucket }}/{{ s3_flowlogs_path + '/' if s3_flowlogs_path else '' }}{{ item }}",
{% else %}
                "LogDestination": "arn:aws:s3:::{{ s3_bucket_prefix }}-{{ vpc_id_list[0].split('-')[1] }}-flow-logs/{{ s3_flowlogs_path + '/' if s3_flowlogs_path else '' }}{{ item }}",
{% endif %}
                "LogDestinationType": "s3",
                "LogFormat": "${version} ${account-id} ${interface-id} ${srcaddr} ${dstaddr} ${srcport} ${dstport} ${protocol} ${packets} ${bytes} ${start} ${end} ${action} ${log-status}",
                "MaxAggregationInterval": {
                    "Ref": "MaxAggregationInterval"
                },
                "TrafficType": "ALL"
            }
        }
    }
}
